<!DOCTYPE html>
<html lang="en">
<head>


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<title>AppMaster</title>
</head>

<body>
 
    <div id="app"></div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue ({
            el: '#app',
            template: `
            <div class="container">
                <h1>Avaliação de Pares</h1>
                <div class="form-todo form-group">
                    <p>
                        <input placeholder="Nome" type="text" name="author" class="form-control" v-model="nome" />
                    </p>
                    <p>
                        <textarea placeholder="Descrição" name="message" class="form-control" v-model="texto" id="" cols="30" rows="10"></textarea>
                    </p>
                    <button v-on:click.prevent="addComment" type="submit" class="btn btn-primary">Confirmar</button>
                </div>
                <div class="list-group">
                    <div class="list-group-item" v-for="(resp, index) in todasRespostas">
                        <span class="comment__author">Autor: <strong>{{
                            resp.nome}}
                        </strong></span>
                        <p>{{ resp.texto}}</p>
                        <div>
                            <a href="#" title="Remover" v-on:click.prevent="removeTexto(index)">Remover</a>
                        </div>
                    </div>
                </div>
            </div>
            `,
            data(){
                return {
                    respostas: [
                    {    
                        nome: '',
                        texto: ''
                    }
                    ],
                    nome: '',
                    texto: ''
                }
            },
            methods: {
                addComment () {

                    console.log("chegou");
                    console.log(this.nome);
                    console.log(this.texto);
                    this.respostas.push({
                        nome: this.nome,
                        texto: this.texto 
                    })
                    this.nome = '';
                    this.texto = '';
                },
                removeTexto(index) {
                    console.log(index);
                    this.respostas.splice(index,1);

                }
            },
            computed: {
                todasRespostas() {
                    return this.respostas.map( resp => ({
                        ...resp,
                        nome: resp.nome.trim() === '' ? 'Anônimo' : resp.nome
                    }))
                    }
                },
            watch : {
                respostas (valor) {
                    console.log(valor);
                }

            }
            
        })
    </script>
</body>
</html>